.btn-cancel {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffadad;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 1;
}

.btn-cancel::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ff3c06;
  transition: 0.5s ease;
}

.btn-cancel:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn-cancel:hover::before {
  width: 50%;
  margin-left: 25%;
}

.btn-cancel::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: linear-gradient(360deg, #ff1706 0%, #ff8c00 100%);
  transition: 0.4s ease;
  z-index: -1;
}

.btn-cancel:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
  border-radius: 2.5rem;
}

.btn-submit {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #28a745;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 1;
}

.btn-submit::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #28a745;
  transition: 0.5s ease;
}

.btn-submit:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn-submit:hover::before {
  width: 50%;
  margin-left: 25%;
}

.btn-submit::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: linear-gradient(360deg, #28a745 0%, #79a686 100%);
  transition: 0.4s ease;
  z-index: -1;
}

.btn-submit:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
  border-radius: 2.5rem;
}
