.form-input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #cccccc06;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.5);
  transition: 300ms ease-in-out;
}

.form-input:focus {
  background-color: #e0e0e02a;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #9696963a, -13px -13px 100px #ffffffad;
}
