.general-container {
  background: #232323;
  color: #c1bfbf;
  width: 101%;
  height: 95%;
  border-radius: 1rem;
  border: thin solid #000;
  padding: 2% 5%;
  margin: 0 auto 2rem auto;
  box-sizing: border-box;
}
