.result-info-container {
  background: #2f3031;
  border: black 1px thin;
  width: auto;
  border-radius: 0.75rem;
  padding: 20px 30px;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 32px 5px rgba(0, 0, 0, 1),
    inset 0 2px 16px 0 rgba(255, 255, 255, 0.541);

  margin-left: auto;
  margin-right: auto;
}

.result-info-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: #d7dbdf;
  margin-bottom: 1rem;
  border-bottom: solid white 1px;
  padding-bottom: 0.5rem;
}

.result-info-label {
  color: #073880;
  font-weight: 500;
  margin-right: auto;
  min-width: 120px;
  text-align: left;
}

.result-info-row {
  display: flex;
  gap: 2rem;
  border: white 0.5px solid;
  padding: 0.5rem 0.75rem;
  border-radius: 20px;
  background-color: #d7dbdf;
  box-shadow: inset 2px 4px 6px 0 rgba(0, 0, 0, 1);
}

.result-info-item {
  align-items: left;
  margin: auto;
  font-weight: bold;
  color: black;
}
