.result-info-container {
  background: #2f3031;
  border: black 1px thin;
  width: 30%;
  border-radius: 0.75rem;
  padding: 20px 40px;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 32px 5px rgba(0, 0, 0, 1),
    inset 0 2px 16px 0 rgba(255, 255, 255, 0.541);

  margin-left: auto;
  margin-right: auto;
}

.result-info-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: #d7dbdf;
  margin-bottom: 1rem;
  text-align: center;
}

.result-info-list {
  padding-left: 0;
  margin-bottom: 0;
}

.result-info-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem 0;
  border-bottom: 1px solid #e9ecef;
  font-size: 1rem;
  color: #ffffff;
  text-align: left;
}

.result-info-label {
  color: #0d6efd;
  font-weight: 500;
  margin-right: 0.5rem;
  min-width: 120px;
  text-align: left;
}

.result-info-list li:last-child {
  border-bottom: none;
}
