.accordion-dark .accordion-item,
.accordion-dark .accordion-header,
.accordion-dark .accordion-button,
.accordion-dark .accordion-body {
  background-color: #212529 !important;
  color: #fff !important;
  border-color: #343a40 !important;
}

.accordion-dark .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #343a40;
}

.accordion-dark .accordion-button:focus {
  box-shadow: none;
}
